header {
    display: flex;
    flex-direction: column;
}

header #logged-out-mode-header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    padding: 0 10.5%;
}

header #connected-banner {
    height: 60px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

header h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: var(--h1-li-hover-color);
}
                
header span {
    font-family: var(--text-font-family);
    font-size: 10px;
    letter-spacing: 0.1em;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    gap: 24%;
}

header nav ul .contact-login {
    padding-right: 20%;
}

header nav ul #login-bold {
   font-weight: 600;
}

header nav ul li {
    font-size: 1.14286em;
}

header nav ul li a {
    text-decoration: none;
    color: inherit;
}

header nav ul li a:hover {
    color: var(--h1-li-hover-color);
}

header nav ul li img {
    width: 19.35px;
    height: 19.35px;
}