body {
    #introduction {
        display: flex;
        align-items: center;
        gap: 8%;
        margin: 6vw 8vw 0 6vw;
                
   
        img {
            width: 50%;
        }


        h2 {
            margin-bottom: 0.7em;
        }

        p {
            margin-bottom: 0.5em;
        }
    }
}