body {
    #portfolio { 
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
        text-align: center;
        margin-top: 4.75em;
        }

        .filter {
            width: 100%;
            justify-content: center;
        }

        .filter-connected {
            padding: 5.5% 0;
        }

        .buttons {
            width: 100%;
            justify-content: center;
            margin: 6% 27%;
            gap: 2%;
        }

        .edit-div {
            padding: 2.4% 0;
        }

        #edit-span {
            color: black;
            font-family: var(--text-font-family);
            font-size: var(--text-font-size);
            margin-left: 2vw;
        }

        .gallery {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 15px;

            img {
                width: 100%;
            }

            figcaption {
                margin-top: 5px;
            }
        }
    }
}