body {
    #introduction {
        display: flex;
        align-items: center;
        gap: 7.5%;
        margin: 6vw 7vw 0 6vw;
                
   
        img {
            width: 50%;
        }


        h2 {
            margin-top: 0.6em;
            margin-bottom: 0.8em;
        }

        p {
            line-height: 1.15em;
            margin-bottom: 1.1em;
        }
    }
}