#introduction {
    display: flex;
    align-items: center;
    gap: 7.5%;
}

#introduction figure {
    flex: 1;
}

#introduction img {
    width: 100%;
}

#introduction article {
    flex: 1;
}

#introduction h2 {
    margin-top: 0.6em;
    margin-bottom: 0.8em;
}

#introduction p {
    line-height: 1.15em;
    margin-bottom: 1.1em;
}